/* Mobile */
@media(max-width: 500px) {

    .card-one,
    .card-two,
    .card-three {
        width: 100%;
        text-align: center;
        margin: 20px;
    }

    .about-img {
        width: 100%;
    }

    .header {
        height: 45rem;
    }

    .card {
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 3.5rem 0;
        flex-direction: column-reverse;
    }

    .flowing-conversation {
        flex-direction: column;
    }

    .card-community {
        width: 80%;
        position: absolute;
        right: auto;
        left: auto;
    }

    .cards-section {
        margin: 125px 0;
    }

    .cards-main {
        margin-top: -7rem;
    }

    .btn-mobile {
        padding: 10px 45px !important;
    }

    .header {
        padding: 1.8rem 0 7.1rem 0;
    }

    .logo {
        width: 30%;
    }

    .btn {
        padding: 5px 20px;
        font-size: 13px;

    }

    .showcase {
        position: relative;
        padding: 0;
        margin-top: 70px;

    }

    .showcase h1 {
        font-size: 21px;
        font-weight: bold;
    }

    .flex-mobile {
        display: block;
        text-align: center;
        margin: 40px;
    }

    .showcase-img {
        margin-top: 35px;
    }

    .footer {
        padding: 12rem 0 0.4rem 0;
    }

    .logo-footer {
        width: 180%;
    }

    .footer-flex {
        display: block;
        width: 100%;
    }

    .location-box, .phone-box, .mail-box {
        width: 20rem;
    }

    .copyright {
        text-align: center;
        margin-top: -45px;
    }

    .social {
        text-align: center;
        margin-top: 50px;
    }

    .links-page {
        margin-top: 30px;
    }

}